<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomTrailBuilder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TrailParser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BB5142531ABA2FA700E77AAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB5142631ABA2FA700E77AAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB5142841AC3634A00E77AAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB5142931AC3634B00E77AAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
